{% extends 'base.html' %}

{% block title %}Get Weather{% endblock %}

{% block body %}
<div>
    {% with messages=get_flashed_messages() %}
        {% if messages %}
            {% for message in messages%}
                <div class="alert alert-warning alert-dismissible fade show" role="alert">
                    <strong>{{ message }}</strong>
                    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
            {% endfor %}
        {% endif %}
    {% endwith %}
    <h1>Get Weather</h1>
    <form action="POST">
        <input type="text" name="city" id="city" required>
        <input type="submit" value="Add City">
    </form>
    {% for city in cities %}
    {% endfor %}
</div>
{% endblock %}